version: "3.8"

services:

  postgres-db:
    image: postgres:17
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: advann_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  eureka-server:
    build: ./eureka-service-registry
    container_name: eureka-server
    restart: always
    ports:
      - "8761:8761"
    depends_on:
      - postgres-db

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - eureka-server

  user-service:
    build: ./user-service
    container_name: user-service
    restart: always
    ports:
      - "8083:8083"
    depends_on:
      - eureka-server
      - postgres-db

  product-service:
    build: ./product-service
    container_name: product-service
    restart: always
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - postgres-db
    environment:
      AWS_ACCESS_KEY: ${AWS_ACCESS_KEY}
      AWS_SECRET_KEY: ${AWS_SECRET_KEY}
      AWS_REGION: ${AWS_REGION}
      AWS_BUCKET_NAME: ${AWS_BUCKET_NAME}

  cart-service:
    build: ./cart-service
    container_name: cart-service
    restart: always
    ports:
      - "8082:8082"
    depends_on:
      - eureka-server
      - postgres-db

  order-service:
    build: ./order-service
    container_name: order-service
    restart: always
    ports:
      - "8084:8084"
    depends_on:
      - eureka-server
      - postgres-db

  payment-service:
    build: ./payment-service
    container_name: payment-service
    restart: always
    ports:
      - "8085:8085"
    depends_on:
      - eureka-server
      - postgres-db
    environment:
      RAZORPAY_KEY_ID: ${RAZORPAY_KEY_ID}
      RAZORPAY_KEY_SECRET: ${RAZORPAY_KEY_SECRET}

volumes:
  postgres_data: