server:
  port: 8081

spring:
  application:
    name: product-service

  datasource:
    url: jdbc:postgresql://postgres-db:5432/advann_db
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info

  endpoint:
    health:
      show-details: always

  info:
    env:
      enabled: true

info:
  app:
    name: Product Service
    description: Product Microservice for Advann
    version: 1.0.0

logging:
  level:
    com.advann.product_service: INFO

springdoc:
  api-docs:
    path: /v3/api-docs

  swagger-ui:
    path: /swagger-ui.html
    config-url: /product-service/v3/api-docs/swagger-config
    url: /product-service/v3/api-docs

app:
  base-url: http://localhost:8081

aws:
  s3:
    bucket-name: advann-product-images-2026
    region: ap-south-1

    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}